@import "tailwindcss";
@import "./fonts/bitfonts.css";

body {
	-webkit-font-smoothing: none;
	-moz-osx-font-smoothing: unset;
	font-smooth: never;
}

.daily-weather:last-child {
	margin-bottom: 0;
}

.weather-icon {
	height: 60px;
	width: 45px;
}

#word-of-the-day {
	p {
		font-size: clamp(1.2rem, 1.3rem, 1.4rem)
	}
}

@theme {
	--text-base: 1.2rem;
	--text-xl: 1.5rem;
}
