<!DOCTYPE html>
{% load tailwind_cli static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <title>Life Dashboard</title>
        {% tailwind_css %}
    </head>
    <body>
        <div id="parent-container"
             class="grid grid-cols-2 border-8 border-solid border-black-600 bg-white-50 w-[1304px] h-[984px] font-[ari-display] overflow-hidden">
            <div id="left-side" class="flex flex-col min-w-0 h-[984px]">
                <div id="date" class="pt-8 pl-8 pr-8 mb-2 text-4xl">
                    <h1>
                        {{ day }} <span class="text-xl">the</span>
                    </h1>
                    <h1>{{ day_number }} of {{ month }}</h1>
                </div>
                <div id="calendar">
                    <table>
                        <tbody>
                            <div class="pl-8 pr-8">
                                {% for day, day_events in events.items %}
                                    <div class="cutoff-contestant-2 bg-white rounded-lg pb-6">
                                        {% if day != "Today" %}
                                            <h2 class="text-2xl mb-3">
                                                <span class="">{{ day }}</span>
                                                {% if day_events %}<span class="text-base">{{ day_events.0.date }}</span>{% endif %}
                                            </h2>
                                        {% endif %}
                                        {% if day_events %}
                                            <div class="space-y-3 cutoff-contestant-1">
                                                {% for event in day_events %}
                                                    <div class=" border-l-4 border-[#FF0000] pl-3 py-2">
                                                        <div class=" text-xl">{{ event.summary }}</div>
                                                        {% if event.all_day %}
                                                            <div class="text-base">All day</div>
                                                        {% else %}
                                                            <div class="text-base">{{ event.start_time }} - {{ event.end_time }}</div>
                                                        {% endif %}
                                                        {% if event.location %}<div class="text-base">@ {{ event.location }}</div>{% endif %}
                                                        {% if event.description %}<div class="text-base mt-1">{{ event.description }}</div>{% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <p class="text-400">No events this week</p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </tbody>
                    </table>
                </div>
                <div id="fun-fact">
                    <img class="h-[150px]" src="/static/stars_top.svg" />
                    <div class="p-8 pr-20 ml-12 relative -top-[100px]">
                        <h1 class="text-lg">{{ fun.title }}</h1>
                        <h1 class="text-xl">{{ fun.text }}</h1>
                    </div>
                    <img class="relative -top-[170px]" src="/static/stars_bottom.svg" />
                </div>
            </div>
            <div id="right-column">
                <div class="container mx-auto pl-8 pr-8 pt-8 mb-6 overflow-hidden">
                    <div id="weather"
                         class="p-8 border-4 border-dashed border-black-500 max-h-full">
                        <div class="grid grid-cols-2 w-full">
                            <div>
                                <h1 class="text-4xl">Forecast</h1>
                                <p class="text-xl mb-6">
                                    <span>{{ weather.days.0.min_temp }}° -</span> <span class="{% if weather.days.0.max_temp > 33 %}text-[#FF0000]{% endif %}">{{ weather.days.0.max_temp }}°</span><span class="ml-3">uv</span>
                                    <span class="{% if weather.days.0.max_uv > 7 %}text-[#FF0000]{% endif %}">{{ weather.days.0.max_uv }}</span>
                                </p>
                                {% for period in weather.today_periods %}
                                    <div class="daily-weather mb-8 flex flex-row">
                                        <img class="h-10 w-10" src="/static/weather_icons/{{ period.icon_src }}" />
                                        <div class="ml-2">
                                            <h1 class="text-2xl">{{ period.name }}</h1>
                                            <p class="text-base">{{ period.condition }}</p>
                                            <span class="text-lg {% if period.temp_avg > 33 %}text-[#FF0000]{% endif %}">{{ period.temp_avg }}°</span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div>
                                {% for day in weather.days %}
                                    {% if day.name != "Today" %}
                                        <div class="daily-weather mb-8 flex flex-row">
                                            <img class="h-10 w-10" src="/static/weather_icons/{{ day.icon_src }}" />
                                            <div class="ml-2">
                                                <h1 class="text-2xl">{{ day.name }}</h1>
                                                <p class="text-lg">
                                                    {{ day.condition }}<span class="ml-3 mr-1">uv</span><span class="text-lg {% if day.max_uv > 7 %}text-[#FF0000]{% endif %}">{{ day.max_uv }}</span>
                                                </p>
                                                <span class="text-base">{{ day.min_temp }}° -</span> <span class="text-lg {% if day.max_temp > 33 %}text-[#FF0000]{% endif %}">{{ day.max_temp }}°</span>
                                                <p class="text-base">{{ day.rain_chance }}% chance of rain</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mx-auto pl-8 pr-8 overflow-hidden">
                    <div id="word-of-the-day"
                         class="max-h-full text-4xl border-4 border-dashed border-black-500 p-4">
                        <div class="mb-6">
                            <h1 class="text-2xl ">Word of the Day</h1>
                            <h1 class="text-5xl">{{ word_of_the_day.word }}</h1>
                        </div>
                        <p class="text-base mb-6">{{ word_of_the_day.description }}</p>
                        <p class="text-base mb-2">"{{ word_of_the_day.quote }}"</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="container" class="overflow-hidden max-h-[500px]">
            {% for item in items %}<div class="item">{{ item }}</div>{% endfor %}
        </div>
        <script>
			const container = document.getElementById('parent-container');
			const items1 = container.querySelectorAll('.cutoff-contestant-1');
			const items2 = container.querySelectorAll('.cutoff-contestant-2');
			const fun = document.getElementById('fun-fact');

			items1.forEach(item => {
				if (item.offsetTop + item.offsetHeight > container.offsetHeight) {
					item.style.display = 'none';
				}
			});

			items2.forEach(item => {
				ASSUMED_HEIGHT_OF_LONE_TITLE = 100;
				if (item.offsetTop + item.offsetHeight > container.offsetHeight || item.offsetHeight < ASSUMED_HEIGHT_OF_LONE_TITLE) {
					item.style.display = 'none';
				}
			});

			console.log(fun.offsetTop)
			console.log(fun.offsetHeight)
			console.log(container.offsetHeight)
			if (fun.offsetTop + fun.offsetHeight > container.offsetHeight - 100) {
				fun.style.display = 'none';
			}
        </script>
    </body>
</html>
