@font-face {
	font-family: 'alagard';
	src: url('../../static/fonts/bitmap/alagard.ttf');
}

@font-face {
	font-family: 'vcr';
	src: url('../../static/fonts/bitmap/VCR.ttf');
}

@font-face {
	font-family: 'vhs';
	src: url('../../static/fonts/bitmap/easvhs.ttf');
}

@font-face {
	font-family: 'ace';
	src: url('../../static/fonts/bitmap/Ace-Attorney.ttf');
}

@font-face {
	font-family: 'ari';
	src: url('../../static/fonts/bitmap/ari/ari.ttf');
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: geometricPrecision;

}

@font-face {
	font-family: 'ari-condensed';
	src: url('../../static/fonts/bitmap/ari/ari-condensed.ttf');
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: geometricPrecision;
}

@font-face {
	font-family: 'ari-condensed-display';
	src: url('../../static/fonts/bitmap/ari/ari-condensed-display.ttf');
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: geometricPrecision;
}

@font-face {
	font-family: 'ari-display';
	src: url('../../static/fonts/bitmap/ari/ari-display.ttf');
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: geometricPrecision;
}

@font-face {
	font-family: 'ari-bold';
	src: url('../../static/fonts/bitmap/ari/ari-bold.ttf');
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: geometricPrecision;
}

@font-face {
	font-family: 'mustica';
	src: url('../../static/fonts/mustica/Mustica.otf');
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: geometricPrecision;
}

@font-face {
	font-family: 'renogare';
	src: url('../../static/fonts/Chunkfive.ttf');
	font-smooth: never;
	-webkit-font-smoothing: none;
	text-rendering: geometricPrecision;
}
