@font-face {
	font-family: 'alagard';
	src: url('../../static/fonts/bitmap/alagard.ttf');
}

@font-face {
	font-family: 'vcr';
	src: url('../../static/fonts/bitmap/VCR.ttf');
}

@font-face {
	font-family: 'vhs';
	src: url('../../static/fonts/bitmap/easvhs.ttf');
}

@font-face {
	font-family: 'ace';
	src: url('../../static/fonts/bitmap/Ace-Attorney.ttf');
}
